/*
primary color:F5EDDC;
secondary color:CFD2CF
accent color: FA9494
accent color: EB1D36
*/
.canvas{
width: 500px;
height: 600px;
background-color: #F5EDDC;
/* padding 1px*/
 overflow: hidden;
}
.frame{
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}
.one{
    width: 425px;
    height: 150px;
    background-color: #CFD2CF;
    margin: 20px;
}
.two{
    background-color: #FA9494;
    width: 475px;
    height: 200px;
    margin: 0 auto 20px;
}
.three{
    width: 91%;
    height: 28%;
    background-color: #EB1D36;
    margin: auto;
}